:root {
    --main-bg-color: #1F3D33;
    --secondary-bg-color: #2A5A4A;
    --third-bg-color: #26754a;
    --accent-color: #2FBF71;
    --text-color: #FFFFFF;
}

html, body {
    margin: 0;
    background-color: var(--main-bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}



/*
*[class^="col"] {
    border: 1px solid red;
    margin: 0;
   
}