/* Hamburger styles */
.hamburger {
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    padding: 0;
    z-index: 1051;
}
.hamburger-bar {
    width: 28px;
    height: 4px;
    background-color: var(--text-color);
    margin: 3px 0;
    border-radius: 2px;
    transition: 0.3s;
}

@media (max-width: 767.98px) {
    .navbar-links {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100vw;
        background: var(--main-bg-color);
        flex-direction: column !important;
        align-items: center !important;
        z-index: 1050;
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--secondary-bg-color);
    }
}
/* 
Standaard styles
*/


.custom-navbar {
    background-color: var(--secondary-bg-color);
    border: 1px solid #2A5A4A;
    
}

.nav-button {
    margin: 10px;
    background-color: var(--third-bg-color);
    border: 1px solid #2A5A4A;
    color: black;
    text-decoration: none;
    padding: 9px;
    border-radius: 14px;  
}
.nav-button:hover {
    background-color: var(--accent-color);
    border: 1px solid var(--secondary-bg-color);
    color: #fff;
}

.nav-button.active {
   background-color: var(--accent-color);
   color: #fff;
  font-weight: bold;
}

.nav-lang {
    margin: 10px;
    background-color: var(--third-bg-color) !important;
    border: 1px solid #2A5A4A;
    color: black;
    padding: 7px;
    border-radius: 12px;  
}

.nav-lang:hover {
    background-color: var(--third-bg-color) !important;
    border: 1px solid var(--secondary-bg-color);
    color: #fff;
}





/*
[class^="col-"] {
    border: 1px solid #ffffff;
}